<%= error_messages_for 'stylesheet' %>

<!--[form:stylesheet]-->
<p><label for="stylesheet_name">Name</label><br/>
<%= text_field 'stylesheet', 'name'  %></p>

<p><label for="stylesheet_css">Css</label><br/>
<%= text_area 'stylesheet', 'css'  %></p>
<!--[eoform:stylesheet]-->

