<%= error_messages_for 'cms' %>

<!--[form:cms]-->
<p><label for="cms_ftp_server">Ftp server</label><br/>
<%= text_field 'cms', 'ftp_server'  %></p>

<p><label for="cms_user_name">User name</label><br/>
<%= text_field 'cms', 'user_name'  %></p>

<p><label for="cms_password">Password</label><br/>
<%= password_field 'cms', 'password'  %></p>
<!--[eoform:cms]-->

