<font size="16">About</font> <br/>

MyMate CMS is a web content management system for a user who does not have any experience with HTML or other web designing tools. By using MyMate, users can create their personal websites and publish them online. 