<font size="16">FAQ</font>


<ol id="faq">
<li> How can I register a new account? </li>
<li> How do I access the CMS?</li>
<li> How do I create a new webpage?</li>
<li> How do I edit an existing page?</li>
<li> How do I delete a page?</li>
<li> How do I upload photos to a page?</li>
<li> How do I upload songs to a page?</li>
<li> How do I upload videos to a page?</li>
</ol>