<% for column in Cms.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @cms.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @cms %> |
<%= link_to 'Back', :action => 'list' %>
