<%= error_messages_for 'admin' %>

<!--[form:admin]-->
<p><label for="admin_login">Login</label><br/>
<%= text_field 'admin', 'login'  %></p>

<p><label for="admin_password">Password</label><br/>
<%= password_field 'admin', 'password'  %></p>
<!--[eoform:admin]-->

