<%= error_messages_for 'stylesheet' %>
<h1> Upload stylesheet</h1>
<fieldset>
<% form_tag ({:action => 'stylesheet_createupload'}, :multipart => true) do %>
  
  	<h3> New StyleSheet: </h3><br/>

	<input type="file" name="stylesheet[name]" /><br /><br/>
  <%= submit_tag "Upload" %><br/>
<% end %>
</fieldset>

<%= link_to 'Back', :action => 'stylesheet_list' %>

