<h1>Editing user</h1>

<% form_tag :action => 'update', :id => @user do %>
  <%= render :partial => 'user_form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'user_show', :id => @user %> |
<%= link_to 'Back', :action => 'user_list' %>
