* {
margin: 0;
padding:0;
}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(/images/hibiscus01.jpg) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #7F6A63;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #492B21;
}

h1 {
	letter-spacing: -1px;
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
}

p, ul, ol {
	margin-top: 0;
	margin-bottom: 1.6em;
	line-height: 180%;
	font-size: 1.2em;
}

p {
}

blockquote {
	float: right;
	width: 160px;
	padding-top: 1.6em;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #492B21;
}

ul {
}

ol {
}

/* Anchor Tags */

a {
	border-bottom: 1px dotted #CCCCCC;
	text-decoration: none;
	color: #AC021C;
}

a:hover {
	border: none;
	text-decoration: underling;
}

small {
}

hr {
	display: none;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
}

img.right {
	float: left;
	margin: 0 0 0 15px;
}

ol#faq {
list-style: decimal inside
}

div#container {
width: 760px;
margin: 0 auto;
/* background: #FFFFFF url(/images/ballon01.gif) repeat-x; */
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin-top: -110px;;
	padding: 118px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	padding: 0 10px 0 22px;
	background: url(/images/hibiscus03.gif) no-repeat left center;
	font-size: 18px;
}

#menu .first a {
	background: none;
}

#break {
	display: none;
}

/* Header */

#header {
	width: 760px;
	height: 170px;
	margin: 0 auto;
	background: url(/images/hibiscus02.jpg);
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FAE6D4;
}

#header a {
	border: none;
	text-decoration: none;
	color: #FAE6D4;
}

#header a:hover {
	text-decoration: underline;
}

div#headerlinks {
	float: right;
	text-align: right;
	position: absolute;
	margin-right: 30px;
	margin-top: 120px;
	right: 100px;
	font-weight: bold;
	font-size: 18px;
	line-height: 140%;
}

#headerlinks a {
	padding: 0 10px 0 22px;
	background: url(/images/hibiscus03.gif) no-repeat left center;
	font-size: 18px;
}

ul#classifieds {
list-style-type: none;
}
ul#classifieds li {
background-color: #ececec;
padding: 5px;
font-weight:bold;
line-height: 140%;
}

/* Logo */

#logo {
	float: left;
	padding: 0 0 0 0;
}

#logo h1 {
	margin: 0;
	padding-top: 50px;
	font-size: 60px;
}

#logo h2 {
	margin: 0;
	font-size: 18px;
}

/* Page */

#page {
	width: 760px;
	margin: 0 auto;
}


/* Side Bar */

div#sidebar {
width: 500px;
margin-left: 0px;
}

/* Content */

#content {
	float: left;
	width: 500px;
}

div#content {
float: left;
width: 750px;
padding: 10px;
}

div#content h3 {
margin-top: 15px;
}

#categories {
	width: 750px;
	text-align: center;
	padding: 5px;
	border: 1px solid #ccc;
	margin-left: 0px; 
	margin-top: 10px;
}

ul#categories li {
display: inline;
padding-left: 5px;
}

ul#category_list {
padding: 20px;
list-style-type: square;
}

ul#category_list li {
line-height: 140%;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 220px;
	padding-top: 30px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	padding-top: 30px;
}

#sidebar li ul {
	padding-left: 15px;
}

#sidebar li li {
	padding: 0;
	padding-left: 15px;
	background: url(/images/hibiscus04.gif) no-repeat left center;
	font-size: .75em;
}

#sidebar li h2 {
	margin-top: 0;
	font-size: 1.4em;
}

#sidebar li a {
}

#sidebar fieldset {
	border: none;
}

/* Footer */

#footer {
	clear: both;
	height: 50px;
	padding-top: 30px;
	background: #AC0A22 url(/images/hibiscus05.gif) repeat-x;
	text-align: center;
	font-size: .7em;
	color: #DD5C73;
}

#footer a {
	border: none;
	color: #F29DAE;
}

/* Contact user */

div#contact_user {
padding: 10px;
}
div#contact_seller input {
margin-top: 5px;
}

div#email {
padding: 10px;
border: 1px solid #cecece;
background-color: #ececec;
}

fieldset {
display: block;
width: 255px;
margin: 20px;
padding: 10px;
background-color: #eee;
}
fieldset > label {
display: block;
margin-bottom: 2px;
font-weight: bold;
}

form {
border: 1px solid #ccc;
width: 150px;
padding: 3px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
form label {
font-size: 13px;
}
form input[type=text],
form input[type=password] {
width: 150px;

}

form input{
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

div#sidebar {
width: 200px;
margin-right: 10px;
margin-top: -120px;
}

div.vcard {
margin: 5px;
padding: 15px;
border: 1px solid #ccc;
font-size: 13px;
}
span.fn {
font-weight: bold;
font-size: 13px;
width: 100%;
display: block;
}
a.email {
width: 100%;
display: block;
padding-top: 5px;
}

a.admintools {
font-size: 13px;
margin-right: 3px;
color: #333;
}

div#loading {
padding: 5px;
background-color: #ffffcc;
border: 1px solid #ececec;
}
div#loading p {
font-weight: bold;
font-size: 13px;
}