<h1>Editing video</h1>

<% form_tag ({:action => 'update', :id => @video}, :multipart => true) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @video %> |
<%= link_to 'Back', :action => 'list' %>
