<%= link_to create_new_file.description, 
		:controller => 'viewer', 
    	:action => 'index', :id => create_new_file.content_id , 
    	:body => create_new_file.id, :user_name => session[:user].login %>
    	
		<br/>
		
		
