<h1>Photo Gallery</h1>

<% unless @photos.size > 0 %><br/>
	Sorry, there is no Uploaded Image.
<% else %>	

 <div id="photos">
 	<%= render :partial => 'photo', :collection => @photos %>  
 </div>
<% end %>
<br />

<div> <p></p><p></p></div>	