<font size="16">Please register</font>
<% form_tag({:action => 'signup'}) do %> 
<fieldset id="register"> 
	<%= render :partial => 'form' %>
<%= submit_tag 'Create my account' -%> 
<% end %> 
</fieldset> 
