
File Name: 
<a href="<%= @fileclassified.url %>"> 
    <%= @fileclassified.name %>
</a><br/>


<strong>Url: </strong> <%= @fileclassified.url %><br />


<br/><br/><br/>
<%= link_to 'Edit', :action => 'edit', :id => @fileclassified %> |
<%= link_to 'Back', :action => 'list' %> 

