<%= error_messages_for :comment %>

<!--[form:comment]-->
<p><label for="user_name">Name: </label><br/>
<%= text_field 'comment', 'user_name'  %></p>
<p><label for="email">Email Address: </label><br/>
<%= text_field 'comment', 'email'  %></p>
<p><label for="comment_body">Comment:</label><br/>
<%= fckeditor_text_field( "comment", "body" ) %></p>
<!--[eoform:comment]-->
