<h1><%=session[:user].login %>'s Wonderful Weblog</h1><br/>
<%= render :partial => "new" %>
<br/>

<hr/>

<h3 align="center"><%= link_to '::::: Go To -> My Created WebBlog Lists ::::::', :action => 'list' %>  </h3><br/>




